In [18]:
import pandas as pd
import statsmodels.api as sm
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [11]:
df_historical = pd.read_csv('Camp_Election.Oracle\\Historical Election Results\\MIT_Lab_Historical_Election_Results\\1976-2020-president.csv')
df_historical = df_historical[['year', 'state', 'candidate', 'candidatevotes', 'totalvotes','party_simplified']]
clean_tfc = pd.read_csv('clean_TFC_data.csv')
clean_tfc.head(5)

   year       state  pct_2p_vote  term2  real_gdp_pct_growth  net_approval
0  1976     ALABAMA    43.333276      0                  5.4             5
1  1976      ALASKA    61.891829      0                  5.4             5
2  1976     ARIZONA    58.613303      0                  5.4             5
3  1976    ARKANSAS    34.951149      0                  5.4             5
4  1976  CALIFORNIA    50.917827      0                  5.4             5

In [12]:
df_historical.head(5)

,year,state,candidate,candidatevotes,totalvotes,party_simplified
0,1976,ALABAMA,"CARTER, JIMMY",659170,1182850,DEMOCRAT
1,1976,ALABAMA,"FORD, GERALD",504070,1182850,REPUBLICAN
2,1976,ALABAMA,"MADDOX, LESTER",9198,1182850,OTHER
3,1976,ALABAMA,"BUBAR, BENJAMIN """"BEN""""",6669,1182850,OTHER
4,1976,ALABAMA,"HALL, GUS",1954,1182850,OTHER

In [13]:
df = pd.merge(df_historical, clean_tfc, on = ['year', 'state'])

In [14]:
df.head(5)

,year,state,candidate,candidatevotes,totalvotes,party_simplified,pct_2p_vote,term2,real_gdp_pct_growth,net_approval
0,1976,ALABAMA,"CARTER, JIMMY",659170,1182850,DEMOCRAT,43.333276,0,5.4,5
1,1976,ALABAMA,"FORD, GERALD",504070,1182850,REPUBLICAN,43.333276,0,5.4,5
2,1976,ALABAMA,"MADDOX, LESTER",9198,1182850,OTHER,43.333276,0,5.4,5
3,1976,ALABAMA,"BUBAR, BENJAMIN """"BEN""""",6669,1182850,OTHER,43.333276,0,5.4,5
4,1976,ALABAMA,"HALL, GUS",1954,1182850,OTHER,43.333276,0,5.4,5

In [19]:
enc = OneHotEncoder()
scaler = StandardScaler()